.accordion {
  $self: &;
  display: block;

  &__header {
    cursor: pointer;

    &::after {
      content: '+';
      float: right;
    }

    &.is-open {
      &::after {
        content: '-';
      }
    }
  }

  dd {
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
  }

  .is-open {
    font-weight: 700;

    + dd {
      display: block;
      height: auto;
    }
  }

  // Icon positioning
  &[data-icon-position='right'] {
    #{$self}__header {
      &::after {
        float: right;
      }
    }
  }

  &[data-icon-position='left'] {
    #{$self}__header {
      &::after {
        float: left;
        margin-right: 10px;
      }
    }
  }

  // Icon active & inactive states
  &[data-icon='arrow'] {
    #{$self}__header {
      &::after {
        content: '\f280';
        font-family: 'Ionicons';
        transform: rotate(-90deg);
        transition: transform .3s linear;
      }

      &.is-open {
        &::after {
          transform: rotate(0);
        }
      }
    }
  }
}
